<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>@ViewBag.Title</title>
</head>
<body class="bg-white m-5 p-5">
    <div>
        @RenderBody()
    </div>
</body>
</html>
